	.button1 {
		background-color: #4CAF50; /* Green */
		border-radius: 8px;
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 48px;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
		margin: 10px;
		width:30%;
		word-wrap: break-word
		vertical-align: middle
	}

	.button1:hover {background-color: #3e8e41}

	.button1:active {
	  background-color: #3e8e41;
	  box-shadow: 0 5px #666;
	  transform: translateY(4px);
	}

	.button2 {
		background-color: #4CAF50; /* Green */
		border-radius: 8px;
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 48px;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
		margin: 10px;
		width:100%;
		word-wrap: break-word
		vertical-align: middle
	}

	.button2:hover {background-color: #3e8e41}

	.button2:active {
	  background-color: #3e8e41;
	  box-shadow: 0 5px #666;
	  transform: translateY(4px);
	}

	.paragraph{
		
	}

	.questions{
		display: inline;
		margin: auto;
		width: 50%;
	}
